spring:

  application:
    name: rapnat
  datasource:
    url: jdbc:postgresql://db:5432/rapnat
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
      dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false  # Altere para true apenas para debug
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
  servlet:
    multipart:
      enabled: true
      max-file-size: 5MB
      max-request-size: 10MB

file:
  upload-dir: uploads
